### General Config

d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8

d-i time/zone string US/Eastern
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server  string 152.3.250.1

### Keyboard Config

d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

### Network Config

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string kali-cleanroom
d-i netcfg/get_domain string local.lan
d-i netcfg/hostname string kali-cleanroom

### Root Account Setup

# B.4.5 Account setup -  https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
#d-i passwd/make-user boolean false
d-i passwd/make-user boolean true
d-i passwd/username string packer
d-i passwd/user-password-crypted password {{ template_password_crypt }}
d-i passwd/user-fullname string

### Partitioning

# needed to force UEFI install
d-i partman-partitioning/no_bootable_gpt_biosgrub boolean false
d-i partman-partitioning/no_bootable_gpt_efi boolean false
d-i partman-efi/non_efi_system boolean true

d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Mirror Settings

# d-i mirror/country string manual
# d-i mirror/http/hostname string http.kali.org
# d-i mirror/http/directory string /
# d-i mirror/http/proxy string
d-i mirror/country string manual
d-i mirror/protocol string http
d-i mirror/http/hostname string archive.linux.duke.edu
d-i mirror/http/directory string /kalilinux/kali
d-i mirror/http/proxy string http://proxy.oit.duke.edu:3128


### APT Setup
d-i apt-setup/use_mirror boolean false
d-i pkgsel/include string openssh-server sudo
d-i pkgsel/language-packs multiselect en
d-i pkgsel/install-language-support boolean false
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select unattended-upgrades
d-i pkgsel/updatedb boolean true

### Bootloader

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

### Finishing Up

d-i preseed/late_command string \
    echo 'packer ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/packer ; \
    in-target chmod 440 /etc/sudoers.d/packer ; \
    in-target systemctl enable ssh.service ; \
    in-target /bin/sh -c "echo 'Acquire::http::Proxy \"http://proxy.oit.duke.edu:3128/\";' > /etc/apt/apt.conf.d/00-duke-proxy.conf && \
      echo 'Acquire::https::Proxy \"http://proxy.oit.duke.edu:3128/\";' >> /etc/apt/apt.conf.d/00-duke-proxy.conf" ; \
    in-target /bin/sh -c "echo 'deb https://http.kali.org/kali kali-rolling main non-free contrib' > /etc/apt/sources.list && \
      apt-get update && apt-get -y install cloud-init open-vm-tools"; \
    in-target systemctl enable cloud-init-main.service ; \
    in-target /bin/sh -c "mkdir -p /home/packer/.ssh && \
      chown packer:packer /home/packer/.ssh && \
      chmod 0700 /home/packer/.ssh && \
      printf 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMbQyPWPzfEW6GqE+y5qdIEsjInoffjtOctwo9NfzHxd packer@template-builder' >> /home/packer/.ssh/authorized_keys";

d-i finish-install/reboot_in_progress note
